<%- include('shared/header.ejs') -%>
<%- include('shared/nav.ejs') -%>

<div class="container">
  <div class="text-right mb-2">
    <br />
    <br />
    <a href="/logout" class="btn btn-danger" style="text-align: right">Logout</a>
  </div>
  <br />
  <br />
  <br />

  <div class="container">
    <h1>Welcome to Your Professional Dashboard</h1>
    <br />

    <% if (loggedIn) { %>
      <% if (assignedUsers.length > 0) { %>
        <h2>Users Assigned to You</h2>
        <ul>
          <% assignedUsers.forEach(user => { %>
            <div class="row">
            <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body" style="border: 2px solid #007294; padding: 10px; text-align: center;">
            <li>
              <p><strong>Username:</strong> <%= user.username %></p>
              <p><strong>Email:</strong> <%= user.email %></p>
              <p><strong>Gender:</strong> <%= user.gender %></p>
              <p><strong>Age:</strong> <%= user.age %></p>
              <p><strong>Description:</strong> <%= user.description %></p>
              <form id="scheduleForm" style="border: none;">
                <input
                  type="hidden"
                  id="professionalId"
                  value="<%= professional._id %>"
                />
                <button type="button" id="scheduleButton" class="btn btn-primary">
                  Schedule Session
                </button>
            </li>
            </div>
            </div>
            </div>
            </div>
            <br />
          <% }) %>
        </ul>
      <% } else { %>
        <p>No users assigned to you.</p>
      <% } %>
    <% } else { %>
      <p>Error loading professional information.</p>
    <% } %>
  </div>
  <script>
    document.getElementById("scheduleButton").addEventListener("click", async () => {
// Redirect the user to the Outlook Calendar login page
window.location.href = "https://login.microsoftonline.com/common/oauth2/v2.0/authorize?" +
"client_id=e1211f97-83b5-44a1-8d6f-983b594e2ce7" +
"&response_type=code" +
"&redirect_uri=https://outlook.office365.com/calendar" +
"&response_mode=query" +
"&scope=offline_access%20Calendars.ReadWrite" +
"&prompt=login" +
"&post_logout_redirect_uri=http://localhost:8080/schedule-session";
});
</script>
  <%- include('shared/footer.ejs') -%>
</div>
